.skip
{
    color: orangered;
}
.half-width
{
padding-left: 5%;
width: 50%;
font-size: 200%;
}
.half-width img 
{
    width: 70%;
    
}
.flexible{
    display: flex;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 2% 3%;
    border-radius: 20%;
    color:white;

}
.middle img
{
    padding-left: 10%;
    width: 35%;
}
.middle{
    width: 50%;
    padding-right: 5%;
}
.background{
    background-image:url(images/shapes/7.png);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0%;
}
.para{
    font-size: 150%;
}
.Recipies
{
    text-align: center;
}
.gap{
    margin-bottom: 5%;
}
.photo{
    width: 100%;
    height: 80%;
    border-radius: 5%;
}
.food{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}